*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif; }

.card {
  padding: 2.4rem;
  background-color: #14253d;
  border-radius: 1.5rem;
  box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.09);
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  row-gap: 1.6rem; }
  .card__header {
    grid-column: 1 / -1;
    position: relative;
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    width: 30.2rem;
    aspect-ratio: 1;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 25em) {
      .card__header {
        width: 27.8rem; } }
    .card__header:hover {
      background-image: linear-gradient(rgba(0, 255, 247, 0.5), rgba(0, 255, 247, 0.5)), url("../images/image-equilibrium.jpg");
      cursor: pointer; }
    .card__header:hover > img {
      opacity: 1; }
  .card__view-icon {
    opacity: 0; }
  .card__title {
    grid-column: 1 / -1;
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    padding-top: 0.8rem; }
    .card__title:hover {
      color: #00fff7;
      cursor: pointer; }
  .card__text {
    grid-column: 1 / -1;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #8bacda;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem; }
  .card__value {
    grid-column: 1 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .card__eth-text {
    font-weight: 900;
    color: #00fff7;
    font-size: 1.6rem;
    padding-top: 4px; }
  .card__days-text {
    color: #8bacda;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 2px; }
  .card__icon--eth {
    width: 1.1rem;
    margin-right: 0.65rem;
    padding-top: 2px; }
  .card__icon--clock {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.65rem; }
  .card__time {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .card__creation {
    grid-column: 1 / -1;
    display: flex;
    align-items: center; }
  .card__avatar {
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 1.6rem;
    border: 1px solid white;
    border-radius: 50%; }
  .card__creation-text {
    color: #8bacda;
    font-size: 1.6rem;
    font-weight: 400; }
    .card__creation-text--bold {
      color: white;
      margin-left: 5px; }
      .card__creation-text--bold:hover {
        color: #00fff7;
        cursor: pointer; }

.line {
  grid-column: 1 / -1;
  height: 1px;
  margin-top: 0.8rem;
  width: 100%;
  background-color: #2f415b; }

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d192b; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNvbXAuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzs7RUFHRSxTQUFTO0VBQ1QsVUFBVTtFQUNWLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLHNCQUFzQjtFQUN0QixpQ0FBaUMsRUFBRTs7QUFFckM7RUFDRSxlQUFlO0VBQ2YseUJBQXlCO0VBQ3pCLHFCQUFxQjtFQUNyQiw2Q0FBNkM7RUFDN0MsbUJBQW1CO0VBQ25CLGFBQWE7RUFDYixxREFBNkM7RUFBN0MsNkNBQTZDO0VBQzdDLGVBQWUsRUFBRTtFQUNqQjtJQUNFLG1CQUFtQjtJQUNuQixrQkFBa0I7SUFDbEIsd0RBQXdEO0lBQ3hELHNCQUFzQjtJQUN0QixjQUFjO0lBQ2QsZUFBZTtJQUNmLG9CQUFvQjtJQUNwQixhQUFhO0lBQ2IsdUJBQXVCO0lBQ3ZCLG1CQUFtQixFQUFFO0lBQ3JCO01BQ0U7UUFDRSxjQUFjLEVBQUUsRUFBRTtJQUN0QjtNQUNFLHlIQUF5SDtNQUN6SCxlQUFlLEVBQUU7SUFDbkI7TUFDRSxVQUFVLEVBQUU7RUFDaEI7SUFDRSxVQUFVLEVBQUU7RUFDZDtJQUNFLG1CQUFtQjtJQUNuQixZQUFZO0lBQ1osaUJBQWlCO0lBQ2pCLGdCQUFnQjtJQUNoQixtQkFBbUIsRUFBRTtJQUNyQjtNQUNFLGNBQWM7TUFDZCxlQUFlLEVBQUU7RUFDckI7SUFDRSxtQkFBbUI7SUFDbkIsZ0JBQWdCO0lBQ2hCLGlCQUFpQjtJQUNqQixtQkFBbUI7SUFDbkIsY0FBYztJQUNkLG1CQUFtQjtJQUNuQixzQkFBc0IsRUFBRTtFQUMxQjtJQUNFLHVCQUF1QjtJQUN2QixhQUFhO0lBQ2IsMkJBQTJCO0lBQzNCLG1CQUFtQixFQUFFO0VBQ3ZCO0lBQ0UsZ0JBQWdCO0lBQ2hCLGNBQWM7SUFDZCxpQkFBaUI7SUFDakIsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxjQUFjO0lBQ2QsaUJBQWlCO0lBQ2pCLGdCQUFnQjtJQUNoQixnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGFBQWE7SUFDYixxQkFBcUI7SUFDckIsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxhQUFhO0lBQ2IsY0FBYztJQUNkLHFCQUFxQixFQUFFO0VBQ3pCO0lBQ0UsbUJBQW1CO0lBQ25CLGFBQWE7SUFDYixtQkFBbUI7SUFDbkIseUJBQXlCLEVBQUU7RUFDN0I7SUFDRSxtQkFBbUI7SUFDbkIsYUFBYTtJQUNiLG1CQUFtQixFQUFFO0VBQ3ZCO0lBQ0UsYUFBYTtJQUNiLGNBQWM7SUFDZCxvQkFBb0I7SUFDcEIsdUJBQXVCO0lBQ3ZCLGtCQUFrQixFQUFFO0VBQ3RCO0lBQ0UsY0FBYztJQUNkLGlCQUFpQjtJQUNqQixnQkFBZ0IsRUFBRTtJQUNsQjtNQUNFLFlBQVk7TUFDWixnQkFBZ0IsRUFBRTtNQUNsQjtRQUNFLGNBQWM7UUFDZCxlQUFlLEVBQUU7O0FBRXpCO0VBQ0UsbUJBQW1CO0VBQ25CLFdBQVc7RUFDWCxrQkFBa0I7RUFDbEIsV0FBVztFQUNYLHlCQUF5QixFQUFFOztBQUU3QjtFQUNFLFdBQVc7RUFDWCxZQUFZO0VBQ1osaUJBQWlCO0VBQ2pCLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsdUJBQXVCO0VBQ3ZCLG1CQUFtQjtFQUNuQix5QkFBeUIsRUFBRSIsImZpbGUiOiJzdHlsZS5wcmVmaXguY3NzIiwic291cmNlc0NvbnRlbnQiOlsiKixcbio6OmJlZm9yZSxcbio6OmFmdGVyIHtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBib3gtc2l6aW5nOiBpbmhlcml0OyB9XG5cbmh0bWwge1xuICBmb250LXNpemU6IDYyLjUlOyB9XG5cbmJvZHkge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBmb250LWZhbWlseTogJ091dGZpdCcsIHNhbnMtc2VyaWY7IH1cblxuLmNhcmQge1xuICBwYWRkaW5nOiAyLjRyZW07XG4gIGJhY2tncm91bmQtY29sb3I6ICMxNDI1M2Q7XG4gIGJvcmRlci1yYWRpdXM6IDEuNXJlbTtcbiAgYm94LXNoYWRvdzogMCAyLjVyZW0gNXJlbSByZ2JhKDAsIDAsIDAsIDAuMDkpO1xuICBtYXJnaW4tYm90dG9tOiAycmVtO1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgyLCBtaW4tY29udGVudCk7XG4gIHJvdy1nYXA6IDEuNnJlbTsgfVxuICAuY2FyZF9faGVhZGVyIHtcbiAgICBncmlkLWNvbHVtbjogMSAvIC0xO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi9pbWFnZXMvaW1hZ2UtZXF1aWxpYnJpdW0uanBnXCIpO1xuICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgd2lkdGg6IDMwLjJyZW07XG4gICAgYXNwZWN0LXJhdGlvOiAxO1xuICAgIGJvcmRlci1yYWRpdXM6IC44cmVtO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuICAgIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogMjVlbSkge1xuICAgICAgLmNhcmRfX2hlYWRlciB7XG4gICAgICAgIHdpZHRoOiAyNy44cmVtOyB9IH1cbiAgICAuY2FyZF9faGVhZGVyOmhvdmVyIHtcbiAgICAgIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudChyZ2JhKDAsIDI1NSwgMjQ3LCAwLjUpLCByZ2JhKDAsIDI1NSwgMjQ3LCAwLjUpKSwgdXJsKFwiLi4vaW1hZ2VzL2ltYWdlLWVxdWlsaWJyaXVtLmpwZ1wiKTtcbiAgICAgIGN1cnNvcjogcG9pbnRlcjsgfVxuICAgIC5jYXJkX19oZWFkZXI6aG92ZXIgPiBpbWcge1xuICAgICAgb3BhY2l0eTogMTsgfVxuICAuY2FyZF9fdmlldy1pY29uIHtcbiAgICBvcGFjaXR5OiAwOyB9XG4gIC5jYXJkX190aXRsZSB7XG4gICAgZ3JpZC1jb2x1bW46IDEgLyAtMTtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgZm9udC1zaXplOiAyLjJyZW07XG4gICAgZm9udC13ZWlnaHQ6IDkwMDtcbiAgICBwYWRkaW5nLXRvcDogMC44cmVtOyB9XG4gICAgLmNhcmRfX3RpdGxlOmhvdmVyIHtcbiAgICAgIGNvbG9yOiAjMDBmZmY3O1xuICAgICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gIC5jYXJkX190ZXh0IHtcbiAgICBncmlkLWNvbHVtbjogMSAvIC0xO1xuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XG4gICAgZm9udC1zaXplOiAxLjhyZW07XG4gICAgbGluZS1oZWlnaHQ6IDIuNnJlbTtcbiAgICBjb2xvcjogIzhiYWNkYTtcbiAgICBwYWRkaW5nLXRvcDogMC4ycmVtO1xuICAgIHBhZGRpbmctYm90dG9tOiAwLjhyZW07IH1cbiAgLmNhcmRfX3ZhbHVlIHtcbiAgICBncmlkLWNvbHVtbjogMSAvIHNwYW4gMTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyOyB9XG4gIC5jYXJkX19ldGgtdGV4dCB7XG4gICAgZm9udC13ZWlnaHQ6IDkwMDtcbiAgICBjb2xvcjogIzAwZmZmNztcbiAgICBmb250LXNpemU6IDEuNnJlbTtcbiAgICBwYWRkaW5nLXRvcDogNHB4OyB9XG4gIC5jYXJkX19kYXlzLXRleHQge1xuICAgIGNvbG9yOiAjOGJhY2RhO1xuICAgIGZvbnQtc2l6ZTogMS42cmVtO1xuICAgIGZvbnQtd2VpZ2h0OiA0MDA7XG4gICAgcGFkZGluZy10b3A6IDJweDsgfVxuICAuY2FyZF9faWNvbi0tZXRoIHtcbiAgICB3aWR0aDogMS4xcmVtO1xuICAgIG1hcmdpbi1yaWdodDogMC42NXJlbTtcbiAgICBwYWRkaW5nLXRvcDogMnB4OyB9XG4gIC5jYXJkX19pY29uLS1jbG9jayB7XG4gICAgd2lkdGg6IDEuNnJlbTtcbiAgICBoZWlnaHQ6IDEuNnJlbTtcbiAgICBtYXJnaW4tcmlnaHQ6IDAuNjVyZW07IH1cbiAgLmNhcmRfX3RpbWUge1xuICAgIGdyaWQtY29sdW1uOiAyIC8gLTE7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIGp1c3RpZnktY29udGVudDogZmxleC1lbmQ7IH1cbiAgLmNhcmRfX2NyZWF0aW9uIHtcbiAgICBncmlkLWNvbHVtbjogMSAvIC0xO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuICAuY2FyZF9fYXZhdGFyIHtcbiAgICB3aWR0aDogMy4zcmVtO1xuICAgIGhlaWdodDogMy4zcmVtO1xuICAgIG1hcmdpbi1yaWdodDogMS42cmVtO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkIHdoaXRlO1xuICAgIGJvcmRlci1yYWRpdXM6IDUwJTsgfVxuICAuY2FyZF9fY3JlYXRpb24tdGV4dCB7XG4gICAgY29sb3I6ICM4YmFjZGE7XG4gICAgZm9udC1zaXplOiAxLjZyZW07XG4gICAgZm9udC13ZWlnaHQ6IDQwMDsgfVxuICAgIC5jYXJkX19jcmVhdGlvbi10ZXh0LS1ib2xkIHtcbiAgICAgIGNvbG9yOiB3aGl0ZTtcbiAgICAgIG1hcmdpbi1sZWZ0OiA1cHg7IH1cbiAgICAgIC5jYXJkX19jcmVhdGlvbi10ZXh0LS1ib2xkOmhvdmVyIHtcbiAgICAgICAgY29sb3I6ICMwMGZmZjc7XG4gICAgICAgIGN1cnNvcjogcG9pbnRlcjsgfVxuXG4ubGluZSB7XG4gIGdyaWQtY29sdW1uOiAxIC8gLTE7XG4gIGhlaWdodDogMXB4O1xuICBtYXJnaW4tdG9wOiAwLjhyZW07XG4gIHdpZHRoOiAxMDAlO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMmY0MTViOyB9XG5cbi5jb250YWluZXIge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBtaW4taGVpZ2h0OiAxMDB2aDtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwZDE5MmI7IH1cbiJdfQ== */