$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);

$color-blue-dark-1: hsl(215, 32%, 27%);
$color-blue-dark-2: hsl(216, 50%, 16%);
$color-blue-dark-3: hsl(217, 54%, 11%);

$color-white: hsl(0, 0%, 100%);